name: Automatic Report and Test Manifest Generation and Publishing on GitHub pages
on:
  push:
    branches: [main]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Generate Reports using Ruby
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.3
      - name: Install dependencies
        run:  bundle install
      - name: Generate Test Manifests
        run:  bundle exec rake
      - uses: actions/upload-pages-artifact@v4
        with:
          path: .

  deploy:
    name: Deploy to GitHub Pages
    if: github.repository == 'w3c/rdf-tests' && github.ref_name == 'main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
